body {
  text-align: center;
}
a:hover {
  text-decoration: dotted;
}
a:active {
  background-color: aqua;
}
a:visited {
  background-color: red;
}

html {
  scroll-behavior: smooth;
}

 {
  text-dec: none;
}

a:active {
  background-color: brown;
  color: blanchedalmond;
}

table,
th,
td {
  border: ;
}
